html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.buy {
    width: 80%;
margin: auto;
    background-color:lemonchiffon;
  
}


.specification {
    width: 80%;
    background-color: white;
    margin: auto;
   }
.speci1 {
    background-color: white;
    width: 24%;
    display: inline-block;
    margin: auto;
    padding: 3px;
   }
.content1 {
    background-color: white;
position: relative;
    padding: 0px;
   
     }
.content2 {
 padding: 2px;
    background-color: white;
}
.p{
    position: absolute;
    top: 0;
}

.text{
    color: sandybrown;
}